# Set the default behavior, in case people don't have core.autocrlf set.
*.cs eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cs text
*.md text
*.meta text
